<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="np.com.nirbhay.musicaid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="MusicPlayer" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="np.com.nirbhay.musicaid.active_android.AllSongModel,
                            np.com.nirbhay.musicaid.active_android.FunSongModel,
                            np.com.nirbhay.musicaid.active_android.HappySongModel,
                            np.com.nirbhay.musicaid.active_android.SadSongModel" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MachineLearningActivity"
            android:label="Machine Learning Activity"/>
    </application>

</manifest>